.advantages{
    background-color: #F4F6F6;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.advantages__title{
    font-family: "NotoSerifJP";
    font-size: 50px;
    line-height: 71px;
    font-weight: 700;
    letter-spacing: calc(1em / 6);
    color: #244D4D;
    margin: 0;
}

.advantages__block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 18px;
    margin-top: 29px;
}

.advantages__card-block{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.advantages__image-block{
    width: 54px;
    object-fit: cover;
}

#ship{
    width: 72px;
    height: 54px;
}


.advantages__subtitle-block{
    font-family: "Glegoo";
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    height: 108px;
    margin: 20px 0 0 0;
}
@media screen and (max-width: 1279px){
    .advantages__card-block{
        width: 150px;
        
    }
    .advantages__subtitle-block{
        font-size: 15px;
        line-height: 24px;
    }
}
@media screen and (max-width: 1023px){
    .advantages{
        height: 450px;
    }
    .advantages__block{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 18px;
        margin-top: 29px;
    }
    .advantages__title{
        margin-top: 15px;
        font-size: 36px;
        line-height: 50px;
    }
}
@media screen and (max-width: 767px){
    .advantages__card-block{
        width: 100px;
    }
    .advantages{
        height: 400px;
        margin: 0 auto;
    }
    .advantages__title{
        margin-top: 15px;
        font-size: 20px;
        line-height: 24px;
    }
    .advantages__image-block{
        width: 36px;
    }
    
    #ship{
        width: 54px;
        height: 36px;
    }
    .advantages__subtitle-block{
        font-size: 14px;
        line-height: 24px;
        height: 108px;
        margin: 10px 0 0 0;
    }
}