html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.App {
  min-width: 320px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Glegoo", "NotoSerifJP", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
